/* navbar */
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}
body{
    background-image: url('mainBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.fb{
    color: #3b5998;
}
.tt{
    color: #00acee;
}
.yt{
    color: red;
}
.ig{
    color:#bc31a2;
}
.fb:hover{
    cursor: pointer;
    color: tomato;
}
.yt:hover{
    cursor: pointer;
    color: tomato;
}
.ig:hover{
    cursor: pointer;
    color: tomato;
}
.tt:hover{
    cursor: pointer;
    color: tomato;
}
.nav-link:hover{
    background-color: rgba(255, 99, 71, 0.8);
    border-radius: 5px 20px 5px 20px;
}
.social{
    background-color: rgba(238, 235, 235, 0.8);
    padding: 10px;
    border-radius: 20px;
}
.dropdown-menu{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid tomato;
}
/* footer */
.container-ft{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:  rgba(255, 255, 255, 0.8);
}

.ft-A{
    text-decoration: none;
    color: black;
}

.ft-A:hover{
    color: tomato;
}

.columnF {
    float: left;
    width: 33%;
    margin-top: 20px;
}

.rowF:after {
    content: "";
    display: table;
    clear: both;
}

.ftM{
    margin-bottom: 30px;
}

.mt-md{
    position: relative;
    margin-top: 16%;
}
/* body */
.mt-20{
    margin-top: 20%;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container-2 {
    border-radius: 5px;
    background-color: #f2f2f285;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .btn-tomato{
    background-color: tomato;
    width: 40%;
    margin: 0 auto;
  }
  .btn-tomato:hover{
    background-color: rgb(194, 73, 52);
  }
  .red{
    background-color: rgba(255, 99, 71, 0.8);
    border-radius: 5px 20px 5px 20px;
  }
  .dropdown-item:hover{
    background-color: rgba(255, 99, 71, 0.8);
    border-radius: 5px 20px 5px 20px;
}
.nav-link{
  text-align: center;
}