/* navbar */
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}
.fb{
    color: #3b5998;
}
.tt{
    color: #00acee;
}
.yt{
    color: red;
}
.ig{
    color:#bc31a2;
}
.fb:hover{
    cursor: pointer;
    color: tomato;
}
.yt:hover{
    cursor: pointer;
    color: tomato;
}
.ig:hover{
    cursor: pointer;
    color: tomato;
}
.tt:hover{
    cursor: pointer;
    color: tomato;
}
.nav-link{
    color: black;
}
.pp{
    background-color: white;
    border: 2px solid tomato;
    margin: 10px;
}
.nav-link:hover{
    background-color: rgba(255, 99, 71, 0.8);
    border-radius: 5px 20px 5px 20px;
}
.social{
    background-color: rgba(238, 235, 235, 0.8);
    padding: 10px;
    border-radius: 20px;
}
.dropdown-menu{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid tomato;
}
.dropdown-item:hover{
    background-color: rgba(255, 99, 71, 0.8);
    border-radius: 5px 20px 5px 20px;
}
/* footer */
.container-ft{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    background-color:  rgba(255, 255, 255);
    position: relative;
    margin-top: -10px;
}

.ft-A{
    text-decoration: none;
    color: black;
}

.ft-A:hover{
    color: tomato;
}

.columnF {
    float: left;
    width: 33%;
    margin-top: 20px;
}

.rowF:after {
    content: "";
    display: table;
    clear: both;
}

.ftM{
    margin-bottom: 30px;
}

.mt-md{
    position: relative;
    margin-top: 30%;
}
/* Body */
.font{
    font-size: xx-large;
    font-weight: 700;
    position: relative;
    top: 250px;
    padding: 20px;
}
.sushiList{
    background-color: white;
    font-family: "Source Sans Pro" ,sans-serif;
}
.imgSu{
    width: 100%;
    position: fixed;

}
.red{
    background-color: rgba(255, 99, 71, 0.8);
    border-radius: 5px 20px 5px 20px;
}
.sp-b{
    display: flex;
    justify-content: space-between;
}
.row-cols-1{
    height: auto;
}
.mt-10{
    margin-top: 10%;
}
.nav-link{
    text-align: center;
  }